<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.albertoroca.pupsdk.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Pup SDK Demo"
        android:theme="@style/Theme.PupDemo">
        <activity
            android:name="com.albertoroca.pupsdk.app.MainActivity"
            android:exported="true"
            android:label="Pup SDK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
